*{
    margin: 0;
}

.main-section{
    background-color: rgba(255, 144, 14, 0.1);
    height: 1000px;
}
.menu-bar{
    display: flex;
    justify-content: space-between;
    padding:50px 180px ;
}
.menu-bar h2{
    font-size: 30px;
    font-family: Arial Black;
    
  
}
.menu-bar a{
    text-decoration: none;
    margin-left: 40px;
    color: black;
}
.benar-up-header-info{
    text-align: center;
    margin-top: 35px;
}
.benar-up-header-info p{
    font-weight: 100 ;
    margin-top: 15px;
    font-family: 'Calibri';

}
.benar-up-header{
    font-size: 43px;
    margin-top: 5px;
    font-family: Arial Black;
}
.fast-button{
    background-color: rgb(250, 116, 20);
    border: none;
    border-radius: 8px;
    font-size:18px ;
    width:140px ;
    height:50px ;
    color: white;
   margin-top: 22px;
   margin-bottom: 30px;

}

.image img{
    width:1000px ;
   height:500px ;
   margin-left: 175px;
   margin-bottom: 40px;
   border-radius: 10px;
 
}

/*--teame info---*/

.teame-info{
    display: flex;
    margin:60px 100px;
}

.teame-info-fast-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:10px;
    margin-left: 100px;
}

.teame-info-fast-container img{
    width:230px ;
    height: 230px;
    border-radius: 10px;
    margin-left: 10px;
}

.teame-info-contenar{
    margin-top: 150px;
    margin-left: 60px;
    margin-right: 90px;
}

.teame-info-contenar p{
    font-size: 16px;
    font-weight: 100;
    font-family:Calibri;
}
.teame-info-header-fast{
    font-size: 35px;
  font-weight: 500;
}

.teame-info-header{
    font-size: 32px;
    color: rgb(250, 116, 20);
    font-weight: 600px;
    margin-bottom: 20px;
}

.teame-info-header-fast span{
    font-family:Arial Black; 
}
/*--------*/


.third-container{
    display: flex;
    margin: 10px 150px;
    padding: 20px;
    
}
.third-container-1st-div{
    
    padding: 10px;
    border-radius: 10px;
    margin-top: 20px;


}
.third-container-1st-div h1{
    margin-top: 10px;

}
.third-container-1st-div p{
    margin-bottom: 8px;
    margin-top: 9px;
    font-weight: 100;
    font-family: Calibri;

}

.third-container-2nd-div {
    background-color: #fcf9f9ce;
    padding: 10px;
    border-radius: 10px;
    margin-top: 20px;
    
}
.third-container-2nd-div h2{
    font-size: 20px;
    margin-top: 10px;
}
.third-container-2nd-div p{
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 8px;
    font-family: Calibri;
    font-weight: 100;
}

.third-container-secend img{
    width: 550px;
    height: 800px;
    margin-left: 100px;

}
/*--last-button*/

.last-button-div{
    display: flex;
    justify-content: center;
    position: absolute;
    left: 570px;
    top: 2350px;
    
}

.last-button{
    width: 210px;
    height: 110px;
    background-color: darkorange;
    border: none;
    border-radius: 8px;
    font-size: 32px;
    color: white;
    font-weight: 900;
}
.button-div{
    font-size: 18px;
    font-weight:200 ;
}

/*--fourt containar----*/

.fourt-containar{
    margin-top: 40px;
    margin-left: 150px;
    padding: 50px;

}
.fourt-containar h1{
    font-size: 30px;
    font-weight: 700;

}
.fourt-containar p{
    font-size: 16px;
    font-weight: 100;
    font-family:Calibri;
    margin-top: 10px;
}

  /*---five-containar-div---*/
.five-containar-div{
    display: flex;
    justify-content: space-around;
    margin: 40px 150px;

}


.five-containar-div-child{
    border: 1px solid #ffa600;
    border-radius: 6px;
    height: 130px;
    width: 140px;
    text-align: center;
    padding: 20px;
    
    
   

}
/*--- animation---*/

.five-containar-div-child:hover{
    transform:scale(1.3);
   overflow-y: 2.5;
   transition: 2s;
}


.five-containar-div-child img:hover{
   transform:scale(1.5);
   overflow-y: 2.5;
   transition: 2s;


}

.ive-containar-div-child h1{
    margin-top: 10px;

}
.five-containar-div-child h2{
    font-size: 16px;
    margin-top: 6px;
    font-weight: 100;
    font-family: Calibri;

}

 /*---our-sponspors---*/


.our-sponspors{
    text-align: center;
    margin-top: 120px;


}
.our-sponspors h1{
  
   font-family:Arial rgba(0, 0, 0, 0.815) ;

}
.our-sponspors p{
    margin-top: 15px;
    font-size: 16px;
    font-weight: 100;
    font-family: Calibri;
}
/*--sponspor logo*/


.last-div{
    display: flex;
    justify-content: space-around;
    margin: 50px 145px;
    filter: grayscale(100%);
}

.last-div img{
    width: 120px;
    height: 45px;
}


/*Exta Section*/

.exta-section-header h2{
    margin-top: 100px;
    text-align: center;
    margin-bottom: 70px;
    font-weight: 700;
    font-size: 30px;

}

.exta-section{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:10px;
    margin-left: 100px;
}
.exta-section img{
    width:230px ;
    height: 230px;
    border-radius: 10px;
    margin-left: 10px;
}
.exta-section h2{
    padding: 20px;

}
.exta-section p{
    padding: 20px;

}


/*---Footer--*/

.footer-div{
    margin-left: 200px;
    width: 950px;
    height: 60px;
    margin-top: 70px;
    margin-bottom: 150px;
    background-color:rgba(255, 144, 14, 0.1) ;
}

.footer p{
    text-align: center;
    padding: 20px;
    font-family: Calibri;

}





/*------------------
----Mobile view------
--------------------- */

@media screen and(max-width:576px) {


    
}

